<h1>Your account hasn't been activated!</h1>

<p>We sent an activation email to your account, but maybe it got lost along the way? We're sending a new email to <%= @user.email %>. Look out for the new activation link!</p>