<div class="blog-div group">
	<figure class="blog-avatar"></figure>
	<div class="blog-content">
		<div class="content-box">
			<h2><%= blog.blogname %></h2>
			<p><%= blog.description %></p>
			<p><%= blog.location %></p>
			<%= follow_button(blog) %>
		</div>
	</div>	
</div>