<div class="blog-intro-div group">
<figure class="blog-image-fig"></figure>
	<div class="blog-info">
		<h1><%= blog.blogname %></h1>
		<p><%= blog.location %></p>
		<p><%= blog.description %><p>
	</div>
</div>