
<div class="input-group" id="image-entry-div">

  <label for="audio-search-bar">Search for an audio file:</label>
  <div class="viewport powered-by-spotify"><img src="<%= Troopr.spriteUrl %>" class="sprite powered-by-spotify"></img></div>
  <button class="audio search-btn">Search</button>
  <input type="text" name="search" id="audio-search-bar" placeholder="Imperial March">
</div>

<iframe
  class="audio-player hidden search"
  width="500"
  height="80"
  frameborder="0"
  allowfullscreen="true">
</iframe>

<div class="input-group" id="image-entry-div">
  <input type="text"
    id="audio-url"
    placeholder="Audio Stream URL"
    disabled="true">
  <input type="hidden" name="url" id="audio-url">
</div>

<div class="search-results audio">
  <ul class="search-results-list audio">
  </ul>
</div>

<input type='hidden' value="audio" name="post_type">
