<div class="input-group" id="url-div">
  <label for="url">URL</label>
  <input
    type="text"
    name="url"
    id="url"
    placeholder="http://www.somethingrad.com">
</div>

<div class="input-group" id="title-div">
  <label for="title">Title</label>
  <input
    type="text"
    name="title"
    id="title"-
    placeholder="Enter title..">
</div>

<div class="input-group" id="body-div">
  <label for="body">Body</label>
  <textarea
    name="body"
    id="body"
    placeholder="Check out this sweet thing!"></textarea>
</div>

<input type="hidden" value="link" name="post_type">
