<form class="new-post-form-inputs">

  <div class="input-group" id="body-div">
    <label for="body">Quote</label>
    <textarea
    class="quote-body"
      name="body"
      id="body"
      placeholder="Through passion, I gain strength.
Through strength, I gain power."></textarea>
  </div>
  <div class="input-group" id="title-div">
    <textarea
      class="quote-source"
      name="title"
      id="title"
      placeholder="Source"></textarea>
  </div>

  <input type="hidden" name="post_type" value="quote">
  <button class="submit-btn" type="submit">Submit</button>
</form>
