<ul>
  <li class="home-link">
    <a href="javascript:void(0)">
      <div class="viewport logo-white">
        <img src="<%= Troopr.spriteUrl %>" class="sprite logo-white">
      </div>
    </a>
  </li>


  <li id="blog-li">Currently logged in as:</li>
  <li id="logout-li"><button class="sign-out-btn">Log out</button></li>
</ul>
