<div class="backbone">
</div>
<script>
  Troopr.spriteUrl = "<%= image_url('spritesheet.png') %>"
  Troopr.currentUserID = <%= current_user.id %>
  Troopr.currentBlogID = <%= current_blog.id %>
$(document).ready(function(){
  Troopr.initialize();
});
</script>
