<div class="dash-post-panel">
  <a href="javascript:void(0)"
     class="blogname-link dash"
     data-id="<%= Troopr.currentBlogID %>">
    <figure class="blog-avatar">
      <img src="<%= Troopr.currentBlog.get('filepicker_url') %>" width="64">
    </figure>
  </a>
  <ul class="dash-post-buttons">
    <a href-"javascript:void(0)"
       id="text-btn"
       data-content="text"
       class="dash-post-link"><p>Text</p></a>
    <a href-"javascript:void(0)"
       id="photo-btn"
       data-content="photo"
       class="dash-post-link"><p>Photo</p></a>
    <a href-"javascript:void(0)"
       id="quote-btn"
       data-content="quote"
       class="dash-post-link"><p>Quote</p></a>
    <a href-"javascript:void(0)"
       id="link-btn"
       data-content="link"
       class="dash-post-link"><p>Link</p></a>
    <a href-"javascript:void(0)"
       id="chat-btn"
       data-content="chat"
       class="dash-post-link"><p>Chat</p></a>
    <a href-"javascript:void(0)"
       id="audio-btn"
       data-content="audio"
       class="dash-post-link"><p>Audio</p></a>
    <a href-"javascript:void(0)"
       id="video-btn"
       data-content="video"
       class="dash-post-link"><p>Video</p></a>
  </ul>
</div>

<div class="container">
  <div class="new-post-form">
    <div id="input-arrow"></div>
    <div class="form-space"></div>
  </div>
</div>
