<a class="post-link-title" href="http://<%= post.escape('url') %>">
  <% if (post.get('title')) { %>
    <%= post.escape('title') %>
  <% } else { %>
    <%= post.escape('url') %>
  <% } %>
</a>

<p class="post-body"><%= post.escape('body') %></p>
