<figure class="blog-avatar"></figure>
<div class="post-content">
	<div class="arrow-left"></div>
		<div class="content-box">
			<%= post.get('byline') %>
			<h2 class="post-title"><%= post.escape('title') %></h2
			<p class="post-body"><%= post.escape('body') %></p>
		</div>
</div>