<iframe
  class="player"
  width="500"
  height="304"
  frameborder="0"
  allowfullscreen>
</iframe>
<h2 class="post-title"><%= post.escape('title') %></h2>
<p class="post-body"><%= post.escape('body') %></p>
