<nav class="topbar">
	<div class="nav-content group">
		<ul>
			<% unless request.env['PATH_INFO'] == (new_session_path || new_user_path) %>
				<li id="home-link"><a href="<%= posts_url %>">Troopr.</a></li>
				<li id="backbone-link"><a href="/backbone">Backbone!</a>
			<% end %>

			<% unless !current_user %>
				<li id="blog-settings-li"></li>
				<li id="blog-li">Logged in as: <%= link_to current_user.email, posts_url %> - <%= link_to 'Log Out', session_url,  method: :delete %></li>
				<li id="blogs-list-li"><a href="<%= blogs_url %>">Find New Blogs!</a></li>
			<% end %>
		</ul>
	</div>
</nav>
