<div class="feed group">
	<div class="dash-header">
		<h1>Dashboard</h1><a id="new-post" href="<%= new_blog_post_url(current_blog) %>">New Post</a>
	</div>
	<% @posts.each do |post| %>
		<%= render post %>
	<% end %>
	<li id="blog-li"><%= render 'shared/change_blogs' %></li>
	<li id="new-blog-li"><a href="<%= new_blog_url %>">Create a new blog</a></li>
</div>
