/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
h1,
h2,
h3,
h4,
h5,
a,
li,
ul,
div,
p,
figure,
button {
		font-style: inherit;
		color: inherit;
		margin: 0;
		padding: 0;
		border: 0;
		font-weight: inherit;
		font-size: inherit;
		text-decoration: none;
		font-family: sans-serif;
}
ul,
li {
		list-style: none;
}
/* STYLES */

body {
		background: #202021;
}
/* NAV */

nav.topbar {
		background: #202021;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		clear: both;
		height: 56px;
		box-sizing: border-box;
		z-index: 1000;
		overflow: hidden;
		border-bottom: 1px solid #414141;
}
div.nav-content {
		background: #202021;

		width: 100%;
		margin: auto;
		position: relative;
		padding: 10px;
		box-sizing: border-box;
}

button.sign-out-btn {
		color: white;
		background: black;
		font-weight: bold;
		padding: 5px 10px;
		position: absolute;
		right: 30px;
		top: 20px;
}

li#logout-li {
	position: absolute;
	right: 45px;
	top: 0px;
}

li#home-link {
		position: absolute;
		top: 1px;
		left: 0px;
}
li.home-link {
	width: 190px;
	display: inline-block;
}

li#home-link a {
	width: 190px;
}

li#backbone-link {
	display: inline-block;
	font-weight: bold;
	color: white;
}
li#blog-settings-li {
		position: absolute;
		top: 1px;
		right: 340px;
}
li#blog-li {
		position: absolute;
		top: 1px;
		right: 0px;
}
li#new-blog-li {
		position: absolute;
		top: 50px;
		right: 6px;
}
li#blogs-list-li {
		position: absolute;
		top: 30px;
		right: 0px;
}

nav.pagination {
	background: white;
	border-radius: 5px;
	width: 540px;
	margin: 20px 0 20px 89px;

	align: right;
	text-align: center;
}

nav.load-more {
	background: white;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 0;
}

nav.load-more:hover {
	background: black;
	color: white;
}

/* CONTENT */

main {
		width: 900px;
		margin: auto;
		position: relative;
		top: 96px;
		background: #202021;
		border-radius: 20px;
		clear: both;
}
.group:after {
		clear: both;
		display: block;
		content: "";
}
main * {
		background: none;
}
.feed {
		width: 640px;
		float: left
}

div.viewport {
	position: relative;
	overflow: hidden;
}

div.viewport.unliked, div.viewport.liked {
	width: 20px;
	height: 20px;
	float: right;
	top: 10px;
	left: 22px;
	cursor: pointer;
}

div.viewport.logo-white {
	width: 150px;
	height: 40px;
	bottom: 5px;
}

div.viewport.logo-black {
	width: 185px;
	height: 40px;
}

div.viewport.reblog {
	width: 30px;
	height: 25px;
	float: right;
	margin-left: 10px;
	top: 10px;
	left: 22px;
	cursor: pointer;
}

div.viewport.search {
	width: 30px;
	height: 30px;
}

div.viewport.sc-logo {
	width: 130px;
	height: 20px;
}

div.viewport.spotify-logo {
	width: 130px;
	height: 20px;
}

div.viewport.powered-by-sc {
	position: absolute;
	width: 100px;
	height: 30px;
	right: 132px;
	bottom: -72px;
}

div.viewport.powered-by-spotify {
	position: absolute;
	width: 100px;
	height: 30px;
	right: 25px;
	bottom: -75px;
}

div.viewport.youtubeLogo {
	width: 64px;
	height: 40px;
	display: inline-block;
	left: 220px;
	top: 45px;
}

div.viewport img {
	position: absolute;
	left: -5px;
}

div.viewport.youtubeLogo img {
	top: -5px;
	opacity: 0.5;
}

div.viewport.unliked img {
	top: -52px;
}

div.viewport.unliked img:hover, div.viewport.liked img {
	top: -77px;
}

div.viewport.logo-white img {
	top: -110px;
}

div.viewport.logo-black img {
	top: -404px;
}

div.viewport.powered-by-sc img {
	top: -160px;
	opacity: 0.25;
}

div.viewport.powered-by-spotify img{
	top: -364px;
	opacity: 0.25;
}

div.viewport.sc-logo img{
	top: -304px;
}

div.viewport.spotify-logo img{
	top: -334px;
}

div.viewport.reblog img {
	top: -200px;
}

div.viewport.reblog img:hover{
	top: -231px;
}

div.viewport.search img {
	top: -264px;
}

button.search-btn, button.filepicker, button.sign-out-btn, input.follow-button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px 5px;
	box-shadow: 1px 1px 1px black;
	outline: none;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	left: 12px;
	bottom: 7px;
}

button.filepicker {
	bottom: 25px;
	left: 10px;
}

button.search-btn:hover, button.filepicker:hover, .submit-btn:hover {
	color: white;
	background: black;
}

button.reblog-btn, .submit-btn {
		padding: 5px 10px;
		border: 1px solid black;
		border-radius: 5px;
		box-shadow: 1px 1px 1px black;
		cursor: pointer;
		outline: none;
		float: right;
		position: relative;
		top: 8px;
		left: 12px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
}
button.like-btn {
		float: right;
		position: relative;
		padding: 0 10px;
		top: 11px;
		left: 10px;
		color: black;
		cursor: pointer;
		outline: none;
}
button.like-btn:hover {
		background: red;
}
button.like-btn.liked {
		color: red
}
button.reblog-btn:active,
button.submit-btn:active {
		top: 9px;
		left: 13px;
		box-shadow: none;
}
button.like-btn:active {
		top: 12px;
		left: 11px;
}

/* LOG IN */

div.login-window {
	background: #202021;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px 20px;
	color: #bebebe;
}

div.login-window div.viewport {
	margin: 15px auto;
}

div.login-window h1 {
	font-size: 35px;
	margin-bottom: 15px;
}

a.facebook-link {
	background: #3b5998;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #3b5998;
	float: left;
}

a.facebook-link:hover {
	color: #3b5998;
	background: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;

}

div.login-window p {
	padding: 0 20px 15px 20px;
}

div.login-window p a {
	text-decoration: underline;
}

div.login-window a.facebook-link {
	display: inline-block;
	letter-spacing: 3px;
	box-shadow: 1px 1px 1px black;
}

div.login-window .submit-btn {
	top: 0;
	left: 0;
	margin-left: 20px;
	font-size: 16px;
}

div.login-window .submit-btn.demo {
	float:left;
	color: #bebebe;
}

div.login-window .submit-btn.demo:hover {
	background: red;
	color: white;
}

div.login-window input.login-inputs {
	background:  #bebebe;
}

/* NEW BLOG */
button.filepicker.new-blog {
	bottom: 0;
	left: 25px;
}

/* DASHBOARD */

div.dash {
		margin-top: 20px;
		width: 640px;
}

div.dash-post-panel {
		height: 100px;
		box-sizing: border-box;
		padding: 10px;
		width: 540px;
		border-radius: 5px;
		background: white;
		float: left;
}

div.dash-post-panel a {
		float: left;
		box-sizing: border-box;
		cursor: pointer;
		width: 74px;
		height: 80px;
		margin: auto;
		text-align: center;
		padding: 25px 5px 25px 5px;
		border-right: 1px solid #ccc;
		font-weight: bold;
		position: relative;
		transition: top 150ms;
		top: 0px;
}

div.dash-post-panel a:hover{
		top: -5px;
}

div.dash-post-panel a:last-child {
		border-right: none
}

div.post-box {
		width: 640px;
		display: inline-block;
		box-sizing: border-box;
		margin-top: 20px;
}
/* SIDEBAR */

nav.sidebar {
	background: white;
	border-radius: 5px;
	width: 240px;
	float: right;
	min-height: 500px;
	margin: 20px 5px;
	padding: 5px;
}

div.list-container {
	overflow: hidden;
	max-height: 50px;
	transition: max-height 500ms;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 5px;
}

div.list-container:hover {
	max-height: 500px;
}

ul.blog-list {
	position: relative;
	width: 230px;
}

li.blog-list-li {
	box-sizing: border-box;
	width: 230px;
	padding: 5px 10px;
	cursor: pointer;
	background: #000000;
	color: white;
}

li.blog-list-li:hover {
	background: #b1b1b1;
}

ul.blog-list li.blog-list-li:first-child {
	border-radius: 5px 5px 0 0;
}

ul.blog-list li.blog-list-li:last-child {
	border-radius: 0 0 5px 5px;
}

li.blog-list-li figure.blog-avatar-small {
	float: left;
}

li.blog-list-li p.blog-list-name {
	position: relative;
	top: 10px;
	left: 5px;
}

li.blog-list-li figure.down {
	position: absolute;
	right: 15px;
	top: 15px;
	transform: rotate(90deg);
	transition: transform 250ms;
}

ul.blog-list:hover figure.down {
	transform: rotate(0deg);
}

li.blog-list-li.new-blog p.new-blog{
	float: left;
	position: relative;
	top: 11px;
	left: 8px;
}


li.new-blog figure.new-blog-icon {
	float: left;
	position: relative;
	left: 9px;
	bottom: 2px;
	font-size: 30px;
	height: 35px;
	width: 35px;
}

a.blog-index-a {
	color: black;
	background: white;
	padding: 5px 10px;
 	cursor: pointer;
	border: 1px solid black;
	position: relative;
	top: 40px;
	left: 10px;
	border-radius: 5px;
}

a.blog-index-a:hover {
	color: white;
	background: black
}

/* INDIVIDUAL POSTS */

.blog-show div.post-box {
		width: 900px
}
.blog-show div.post-box .post-content {
		width: 800px;
}

.arrow-left {
		width: 0;
		height: 0;
		position: absolute;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid white;
		left: -9px;
		top: 20px;
}
figure.blog-avatar {
		width: 64px;
		height: 64px;
		float: left;
		background: black;
		border-radius: 6px;
		margin: 0px 15px 0px 10px;
		vertical-align: top;
		box-shadow: 2px 2px 2px gray;
		overflow: hidden;
}

figure.blog-avatar-small {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
}

p.blogname-header {
		font-size: 13px;
		margin-bottom: 13px;
		color: gray;
}
div.post-content {
		box-sizing: border-box;
		border-radius: 5px;
		background: white;
		float: left;
		width: 540px;
		padding: 15px 20px;
		position: relative;
}
h5.blogname-header {
		border-radius: 10px;
}
a.blogname-link:hover {
		color: black;
}
h2.post-title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 22px;
}
div.post-bottom-bar {
		clear: both;
		height: 20px;
		padding: 5px 10px;
}
div.post-content .post-delete {
		display: none;
		position: absolute;
		border: none;
		font-size: 25px;
		right: 12px;
		top: 5px;
		cursor: pointer;
		outline: none;
		border-radius: 50%;
}
div.post-content:hover .post-delete {
		display: block;
		font-weight: bold;
		color: black;
}
div.post-content:hover .post-delete:hover {
		color: red;
}

div.notes-display {
		display: none;
		position: absolute;
		border: 1px solid black;
		border-radius: 5px;
		padding: 5px 15px;
		background: #000;
		left: 82px;
		bottom: -3px;
		z-index: 999;
		color: white;
}
div.notes-display.active {
		display: block;
}

div.notes-display.rails {
	display: block;
	position: relative;
	left: -20px;
	bottom: -7px;
	width: 100%;
	color: gray;
	background: none;
	border: none;
}
div.notes-list {
		max-height: 300px;
		overflow: scroll;
		transition: height 500ms, width 500ms;
}
div.notes-list li {
		padding-bottom: 10px;
}
div.notes-list li:last-child {
		padding-bottom: 0px;
}
div.notes-arrow {
		width: 0;
		height: 0;
		position: absolute;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid black;
		left: -10px;
		bottom: 5px;
}
/* PHOTO POSTS */

img.post-box-img {
		max-width: 500px;
		margin: 0 auto;
		align: center;
}

/* QUOTE POSTS */
p.quote-body {
	font-style: italic;
	font-size: 30px;
	padding: 0px 15px;
}

h2.quote-source {
	text-align: right;

	font-size: 20px;
	color: #979797;
}


/* LINK POSTS */

a.post-link-title {
		cursor: pointer;
		display: inline-block;
		font-size: 25px;
		padding-bottom: 15px;
		font-weight: bold;
		text-decoration: underline;
		text-overflow: ellipsis;
}
/* CHAT POSTS */

textarea#title.quote-source {
		border-top: none;
		border-radius: 0 0 5px 5px;
		position: relative;
		bottom: 5px;
		min-height: 75px;
		text-align: right;
		resize: none;
}
textarea#body.quote-body {
		border-radius: 5px 5px 0 0;
		margin-bottom: 0px;
}

p.chatLine {
		margin-left: 25px;
		font-size: 20px;
}
/* AUDIO POSTS/FORM */

div.search-results {
	max-height: 0px;
	max-width: 500px;
	transition: max-height 250ms;
	overflow: scroll;
}

div.search-results.active {
	max-height: 350px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
}

li.search-result-li {
	background: #ffffff;
	padding: 5px 10px;
	border-bottom: 1px solid #aaaaaa;
	transition: background 250ms;
}

li.search-result-li:hover {
	cursor: pointer;
	background: #b1b1b1;
}

iframe.audio-player, iframe.video-player {
	display: none;
	margin: 0 auto;
}

iframe.active {
	display:block;
}

input#audio-search-bar {
	background: none;
	z-index: 1000;
}

input#audio-url {
	background: #898989;
}

/* VIDEO POSTS/FORM */

div.video-space {
		margin: 0 auto;
		width: 500px;
}
/* POST BOTTOM BAR */

div.post-bottom-bar a {
		position: relative;
}
div.post-bottom-bar a.notes-display {
		float: left;
}
div.post-bottom-bar a.reblog-button {
		float: right;
}
div.post-bottom-bar form.button_to {
		float: right;
}
input.unlike {
		background: red;
}
/* NOTES SHOW */

li.note-li {
		font-size: 10px;
		margin-left: 20px;
		padding: 5px 0;
		border-bottom: 1px solid gray;
}
a.notes-display {
		font-size: 13px;
		color: gray;
		position: absolute;
		bottom: -20px;
}

/* NEW POST FORM */

div.container {
		padding-top: 1pxz;
		max-height: 0;
		transition: max-height 500ms;
		overflow: hidden;
}

div.container.active {
		max-height: 1200px;
}

div.new-post-form {
		position: relative;
		left: 89px;
		width: 540px;
		margin-top: 19px;
}

div.new-post-form #input-arrow {
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid white;
		position: absolute;
		top: -14px;
		transition: left 250ms;
}
#input-arrow.text {
		left: 30px;
}
#input-arrow.photo {
		left: 107px;
}
#input-arrow.quote {
		left: 183px;
}
#input-arrow.link {
		left: 255px;
}
#input-arrow.chat {
		left: 330px;
}
#input-arrow.audio {
		left: 402px;
}
#input-arrow.video {
		left: 475px;
}
form.new-post-form-inputs {
		display: block;
		box-sizing: border-box;
		border-radius: 5px;
		background: white;
		float: left;
		width: 540px;
		padding: 15px 20px;
}
div.input-group label {
		font-weight: bold;
		font-size: 22px;
}
div.input-group input,
textarea {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 15px;
		outline: none;
		border: 1px solid black;
		border-radius: 5px;
		font-size: 16px;
		padding: 10px;
		max-height: 475px;
}
div.input-group input {
		min-height: 30px;
}
div.input-group textarea {
		min-height: 180px;
		resize: vertical;
}
form.new-post-form-inputs button {
		color: black;
		background: #fff;
		font-size: 15px;
		float: right;
}
p.explanation {
		color: #aaaaaa;
		padding: 0 20px;
}
p.explanation strong{
	text-align: center;
	font-size: 22px;
}

/* BLOGS NEW */

div.new-blog-page {
	position: relative;
	transition: left 500ms;
	border-radius: 5px;
	background: white;
	width: 900px;
	padding: 15px 20px;

	left: 0px;
}

div.left-column, div.right-column {
	float: left;
}

div.left-column {
	width: 300px;
	box-sizing: border-box;
	padding-right: 20px;
}
div.left-column p {
	position: relative;
	font-size: 14px;

}

div.left-column p.blogname {
	top: 58px;
}

div.left-column p.description {
	top: 160px;
}

div.left-column p.location {
	top: 305px;
}

div.left-column p.avatar {
	top: 355px;
}

div.right-column {
	width: 600px;
	box-sizing: border-box;
	border-left: 1px solid gray;
	padding-left: 20px;
}

div.right-column h1 {
	font-weight: bold;
	font-size: 30px;
}

div.right-column div.input-group.avatar {
	bottom: 20px;
}

div.right-column button.filepicker {
	position: relative;
	top: 62px;
	left: 15px;
}

div.right-column figure.avatar-preview {
	visibility: hidden;
	position: relative;
	right: 30px;
	bottom: 0px;
	width: 125px;
	height: 125px;
}

div.right-column figure.avatar-preview.active {
	visibility: visible;
}

/* BLOGS INDEX */

li.blog-index-li {
	background: white;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

figure.blog-image-fig.blog-index {
	position: relative;
	margin: 0 0;
	bottom: 0px;
}

button.follow-btn {
	cursor: pointer;
	border: 1px solid black;
	background: white;
	padding: 5px 10px;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 15px;
	position: relative;
	left: 9px;
}

button.follow-btn:hover {
	color: white;
	background: black;
}

div.left-col {
	float: left;
}

div.right-col {
	float: left;
	position: relative;
	top: 15px;
	margin-left: 30px;
}

p.blogname {
	font-weight: bold;
	font-size: 30px;
}

p.blog-desc {
	margin-top: 10px;
}

/* BLOGS SHOW */

div.blog-div {
		width: 900px;
		display: inline-block;
		box-sizing: border-box;
		margin-top: 20px;
		background: white;
		border-radius: 5px;
		padding: 15px;
}
div.blog-content {
		float: left;
}
div.blog-header {
		position: relative;
		margin-bottom: 10px;
		display: inline-block;
}
div.blog-div h2 {
		font-weight: bold;
		font-size: 22px;
		float: left;
}
div.blog-div input {
		display: inline-block;
		float: left;
}

div.blog-intro-div {
	margin: 0 auto;
	align: center;
	position: relative;
	left: 130px;
}

section.posts-space.blog-show {
}

figure.blog-image-fig {
		border-radius: 10px;
		border: 3px solid white;
		height: 100px;
		width: 100px;
		background: black;
		margin: auto;
		position: relative;
		bottom: 20px;
		overflow: hidden;
}
div.blog-info {
		margin: auto;
		position: relative;
		text-align: center;
}
div.blog-info h1 {
		margin: auto;
		font-size: 42px;
		color: white;
}
div.blog-info p {
		color: #636363;
}
/* BLOG PARTIAL */

input.follow-button {
		position: absolute;
		right: -64px;
		top: 3px;
}
