/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, h1, h2, h3, h4, h5, a, li, ul, div, p, figure, button {
	font-style: inherit;
	color: inherit;
	background: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
	font-family: sans-serif;
}

ul, li {
	list-style: none;
}

/* STYLES */

body {
	background: #202021;
}

/* NAV */
nav.topbar {
	background: #A6A6A6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	clear: both;
	height: 56px;
	box-sizing: border-box;
	z-index: 1000;
	overflow: hidden;
}
div.nav-content {
	width: 930px;
	margin: auto;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
}

li#home-link {
	position: absolute;
	top:1px;
	left: 0px;
}

li#blog-li {
	position: absolute;
	top:1px;
	right: 0px;
}

li#new-blog-li {
	position: absolute;
	top: 50px;
	right: 6px;
}

li#blogs-list-li {
	position: absolute;
	top:30px;
	right: 0px;
}

/* CONTENT */
main {
	width: 900px;
	margin: auto;
	position: relative;
	padding: 5px 15px;
	top: 96px;
	background: #C9C9C9;
	background-image: -webkit-linear-gradient(top, #C9C9C9, #202021 600px); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(top, #C9C9C9, #202021 600px);
  background-image: -o-linear-gradient(top, #C9C9C9, #202021 600px);
  background-image: linear-gradient(top, #C9C9C9, #202021 600px);
	border-radius: 20px;
	clear: both;
}

.group:after {
	clear: both;
	display: block;
	content: "";
}

main * {
	background: none;
}

.feed {
	width: 640px;
	float: left
}

.content-space {
}


/* DASHBOARD */
div.dash {
	margin-top: 20px;
	width: 640px;
}

div.dash-post-panel {
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
	width: 540px;
	border-radius: 5px;
	background: white;
	float: left;
}

div.dash-post-panel a {
	float: left;
	box-sizing: border-box;
	cursor: pointer;
	width: 74px;
	height: 80px;
	margin: auto;
	text-align: center;
	padding: 25px 5px 25px 5px;
	border-right: 1px solid #ccc
}

div.dash-post-panel p {
	font-weight: bold;
	position: relative;
	transition: top 150ms;
	top: 0px;
}

div.dash-post-panel a:hover p {
	top: -5px;
}

div.dash-post-panel a:last-child {
	border-right: none
}

div.post-box {
	width: 640px;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 20px;
}

/* SIDEBAR */
nav.sidebar {
	background: white;
	border-radius: 5px;
	width: 240px;
	float: right;
	min-height: 500px;
	margin: 20px 5px;
}

#blog-li {

}

#new-blog-li {
}

/* INDIVIDUAL POSTS */
div.post-box.full-width {
	width: 900px
}

div.post-box.full-width .post-content{
	width: 800px;
}

.arrow-left {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid white;
	left: -9px;
	top: 20px;
}

figure.blog-avatar {
	width: 64px;
	height: 64px;
	float: left;
	background: black;
	border-radius: 6px;
	margin: 0px 15px 0px 10px;
	vertical-align: top;
	box-shadow: 2px 2px 2px gray;
}

p.blogname-header {
	font-size: 13px;
	margin-bottom: 13px;
	color: gray;
}

div.post-content {
	box-sizing: border-box;
	border-radius: 5px;
	background: white;
	float: left;
	width: 540px;
	padding: 15px 20px;

	position: relative;
}

h5.blogname-header {
	border-radius: 10px;
}
a.blogname-link:hover {
	color: black;
}

h2.post-title {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 22px;
}

div.post-bottom-bar {
	clear: both;
	height: 20px;
	padding: 5px 10px;
}

input.post-delete {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
}

div.post-content:hover input.post-delete {
	display: block;
	color: black;
}

div.post-content button.post-delete {
	display: none;
	position: absolute;
	border: none;
	font-size: 25px;
	right: 5px;
	top: 5px;
	cursor: pointer;
	outline: none;
	border-radius: 50%;
}

div.post-content:hover button.post-delete {
	display: block;
	font-weight: bold;
	color: black;
}

div.post-content:hover button.post-delete:hover {
	color: red;
}

input.post-delete {
	color: red;
}

/* POST BOTTOM BAR */
div.post-bottom-bar a{
	position: relative;
}

div.post-bottom-bar a.notes-display {
	float: left;
}

div.post-bottom-bar a.reblog-button {
	float: right;
}

div.post-bottom-bar form.button_to{
	float: right;
}

input.unlike {
	background: red;
}

button.like-btn {
	display: none;
	float: right;
	outline: none;
}

button.like-btn.active {
	display: block;
}

button.unlike-btn {
	display: none;
	float: right;
	outline: none;
}

button.unlike-btn.active {
	display: block;
}

button.reblog-btn {
	outline: none;
	float: right;
}

/* NOTES SHOW */
li.note-li {
	font-size: 10px;
	margin-left: 20px;
	padding: 5px 0;
	border-bottom: 1px solid gray;
}

a.notes-display {
	font-size: 13px;
	color: gray;
	position: absolute;
	bottom: -10px;
}


/* NEW POST FORM */
div.container {
	padding-top: 1px;
	height: 0;
	transition: height 250ms;
	overflow: hidden;
}

div.container.active {
	height: 400px;
}

div.new-post-form {
	position: relative;
	left: 89px;
	width: 540px;
	margin-top: 19px;
}

div.new-post-form #input-arrow {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid white;

	position: absolute;
	top: -14px;
	transition: left 250ms;
}

#input-arrow.text {
	left: 30px;
}
#input-arrow.photo {
	left: 107px;
}
#input-arrow.quote {
	left: 183px;
}
#input-arrow.link {
	left: 255px;
}
#input-arrow.chat {
	left: 330px;
}
#input-arrow.audio {
	left: 402px;
}
#input-arrow.video {
	left: 475px;
}

form.new-post-form-inputs {
	display: block;
	box-sizing: border-box;
	border-radius: 5px;
	background: white;
	float: left;
	width: 540px;
	padding: 15px 20px;c
}

div.input-group label {
font-weight: bold;
font-size: 22px;
}

div.input-group input, textarea {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
}

div.input-group input {
	min-height: 30px;
}

div.input-group textarea {
	min-height: 180px;
}

.submit-btn, .reblog-btn {
	padding: 10px 20px;
	border: 1px solid black;
	box-shadow: 2px 1px 1px black;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	position: relative;
}

button:active {
	top: 2px;
	left: 1px;
}

form.new-post-form-inputs button {
	color: black;
	background: #fff;

	font-size: 15px;
	float: right;
}


/* BLOGS INDEX */
div.blog-div {
	width: 900px;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 20px;
}

div.blog-content {
	float:left;
}

div.blog-header {
	position: relative;
	margin-bottom: 10px;
	display: inline-block;
}

div.blog-div h2 {
	font-weight: bold;
	font-size: 22px;
	float: left;
}

div.blog-div input {
	display: inline-block;
	float: left;
}

/* BLOG SHOW */

div.blog-intro-div {
}

figure.blog-image-fig {
	border-radius: 10px;
	border: 3px solid white;
	height: 100px;
	width: 100px;
	background: black;
	margin: auto;
	box-sizing: border-box;
	position: relative;
	bottom: 20px;
}

div.blog-info {
	margin: auto;
	position: relative;
	text-align: center;
}

div.blog-info h1 {
	margin: auto;
	font-size: 42px;
}
div.blog-info p {
	color: #636363;
}

/* BLOG PARTIAL */
input.follow-button {
	position: absolute;
	right: -64px;
	top: 3px;
}
