<div class="login-window group">
	<h1>Welcome to Troopr</h1>

	<p class="intro-text">
		Troopr is a functional Tumblr clone created by Kevin Fleischman. Troopr was built with Rails and Backbone.
		<br>	<br>
		Sign up for an account, or log in with the demo account; you can post as much as you'd like, and you can even register a new blog from the demo account.
		<br>	<br>
		<a href="http://www.kevinfleischman.com">Check out my personal website</a>, or <a href="mailto:kevinrfleischman@gmail.com">send me an email</a>.
		</p>

	<form class="sign-in-form" method="POST">
		<div class="input-group">
			<label for="user_email">Email</label>
			<input type="text" name="user[email]" id="user_email" class="login-inputs">
		</div>

		<div class="input-group">
			<label for="user_password">Password</label>
			<input type="password" name="user[password]" id="user_password" class="login-inputs">
		</div>
		<button class="submit-btn" type="submit">Log in!</button>
	</form>

	<a class="facebook-link" href="/auth/facebook">Login with Facebook</a>
	<button class="submit-btn demo">Demo Account</button>
	<a class="submit-btn" href="javascript:void(0)">Sign up for Troopr!</a>
</div>
